<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Welcome To Rentify Test <small>Please sign up or sign in</small></h1>
<p>Everything works in development mode, for some reason in production(rake db:migrate RAILS_ENV=production) 
	throws an error related to devise email confirmation which I disabled, and it seems
	 that I'm the only one having it. Thats why I could not deploy it on heroku'</p>
